/**
 * Token sale calculator
 */
#calculator {
	padding: 5px 15px 15px 15px;
	border: 2px solid #7a92bc;
	border-radius: 4px;
}
#calculator legend {
	padding: 0 15px;
	font-size: 30px;
	line-height: 1;
	font-weight: bold;
}
#calculator .form-block {
	display: flex;
	align-items: center;
}
#calculator .form-block > * {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}
#calculator .form-block > #calculator-divider,
#calculator .form-block > #calculator-img {
	flex-grow: 0;
	flex-shrink: 0;
}
#calculator-divider {
	padding-top: 1.1em;
	text-align: center;
	color: #f18036;
	font-size: 36px;
}
#calculator-divider .icon-retweet::before {
	margin: 0;
}
#calculator-img img {
	width: 140px;
}

#calculator label {
	display: block;
	margin-bottom: 15px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
#calculator .form-control,
#calculator .form-addon {
	padding: 5px 15px;
	border-width: 2px 0 2px 2px;
	border-color: #7a92bc;
	background: #546482;
	color: #ffffff;
	font-size: 36px;
}
#calculator .form-addon {
	background: #425372;
}
#calculator .form-control::placeholder,
#calculator .form-addon::placeholder {
	color: #cccccc;
}
#calculator .form-control:first-child,
#calculator .form-addon:first-child {
	border-radius: 4px 0 0 4px;
}
#calculator .form-control:last-child,
#calculator .form-addon:last-child {
	border-right-width: 2px;
	border-radius: 0 4px 4px 0;
}
@media (max-width: 1023px) {
	#calculator legend {
		font-size: 20px;
	}
	#calculator-img {
		display: none;
	}
	#calculator .form-control,
	#calculator .form-addon {
		font-size: 18px;
	}
	#calculator label {
		margin-bottom: 5px;
		font-size: 16px;
	}
	#calculator-divider {
		padding-top: 0.7em;
	}
}
@media (max-width: 767px) {
	#calculator legend {
		text-align: center;
	}
	#calculator .form-block > * {
		padding-left: 0;
		padding-right: 0;
	}
	#calculator .form-block {
		flex-direction: column;
		align-items: stretch;
	}
	#calculator-divider {
		padding-top: 0;
	}
}

#calculator-summary {
	display: flex;
}
#calculator-summary > * {
	flex: 1;
	padding: 5px 20px 0 20px;
	border-right: 1px solid #8e98aa;
	text-align: right;
}
#calculator-summary > *:first-child {
	padding-left: 5px;
}
#calculator-summary > *:last-child {
	padding-right: 5px;
	border-right: none;
}
#calculator-summary p {
	margin: 0;
}
#calculator-summary .highlighted {
	color: #ffffff;
	font-size: 200%;
	font-weight: 600;
}

@media (max-width: 767px) {
	#calculator-summary {
		flex-direction: column;
	}
	#calculator-summary > * {
		margin-bottom: 15px;
	}
	#calculator-summary > *:first-child {
		padding-left: 20px;
	}
	#calculator-summary > *:last-child {
		margin-bottom: 0;
		padding-right: 20px;
		border-right: 1px solid #8e98aa;
	}
	#calculator-summary .highlighted {
		font-size: 130%;
	}
	#calculator-summary div {
		display: flex;
		align-items: center;
	}
	#calculator-summary p {
		text-align: left;
		width: 60%;
	}
	#calculator-summary p + p{
		text-align: right;
		width: 40%;
	}
}
