/**
 * Contribute and Buy Tokens form
 */
#buy-tokens, #contribute {
	background: linear-gradient(180deg, transparent 0, transparent 38px, rgba(243, 244, 246, 1) 39px, rgba(243, 244, 246, 0) 200px);
}
@media (max-width: 767px) {
	#buy-tokens, #contribute {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		background: linear-gradient(180deg, transparent 0, transparent 20px, rgba(243, 244, 246, 1) 21px, rgba(243, 244, 246, 0) 200px);
	}
}

@media (max-width: 767px) {
	#contribute .btn {
		min-width: auto;
		font-size: 75%;
	}
}

#contribute-form .highlighted {
	color: red;
}

#tandc {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	max-height: 50vh;
	margin-bottom: 30px;
	padding-right: 15px;
}
#tandc h1 {
	font-size: 30px;
}
#contribute-step-email p {
	margin-bottom: 15px;
}
#contribute-step-email hr.divider {
	margin: 15px 0;
}
#contribute-step-email input[type="text"],
#contribute-step-email input[type="email"] {
	max-width: 100%;
	width: 355px;
}

#contribution-block {
	text-align: left;
}
#contribution-block p {
	margin-bottom: 5px;
}
#contribution-block > :last-child {
	margin-bottom: 0;
}
#contribution-block label {
	color: #425372;
	font-weight: bold;
}
#contribution-details {
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 5px;
	padding: 10px;
	background: #e7e8e9;
}
#contribution-details label {
	margin-right: 0.5em;
}
#copy-address {
	cursor: pointer;
}
@media (max-width: 767px) {
	#contribution-details label {
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}
}

#contribute-error h4 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 34px;
	color: #f18036;
}
#contribute-error .error-text {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #425372;
}
