/**
 * Home sections
 */
#ico-counter-section, #whats-in-section, #partners-section, #media-section, #main-footer {
	background-image: url("../images/bg/bg.png");
	background-size: cover;
	background-position-x: center;
}
#ico-counter-section {
	background-position-y: 80%;
}
#whats-in-section {
	background-position-y: top;
}
#partners-section {
	background-position-y: 20%;
	transform: scaleX(-1); /* flip background */
}
#partners-section > * {
	transform: scaleX(-1); /* flip content back */
}
#media-section {
	background-position-y: top;
}
#main-footer {
	background-position-y: bottom;
}

/**
 * Main content
 */
.home-content {
	text-align: center;
}
.home-content img {
	display: block;
	max-width: 100%;
	margin: 0 auto 70px auto;
}
@media (max-width: 767px) {
	.home-content {
		text-align: justify;
	}
	.home-content img {
		margin-bottom: 30px;
	}
}

/**
 * Fixed header & ICO banner positioning
 */
@media (min-width: 1024px) {
	/* home page - #top-section is the first */
	#top-section {
		padding-top: 100px; /* space for fixed header & ICO banner */
	}
	#ico-banner-section {
		/*position: fixed;*/
		position: relative;
		top: 80px;
		left: 0;
		right: 0;
		z-index: 60;
	}
	.fixed-header #ico-banner-section {
		top: 50px;
	}
}
@media (max-width: 1023px) {
	/* home page - first section is ICO banner */
	#ico-banner-section {
		padding-top: 80px; /* space for fixed header */
	}
}


/**
 * ICO banner section
 */
#ico-banner-section {
	background-color: #1d2f54;
	background-image: url("../images/bg/bg-banner.png");
	background-size: cover;
	background-position-x: center;
	transition: top 0.4s;
}
#ico-banner-section > .container {
	padding-top: 20px;
	padding-bottom: 20px;
}
@media (min-width: 1024px) {
	.fixed-header #ico-banner-section > .container {
		/*padding-top: 10px;*/
		/*padding-bottom: 10px;*/
	}
}

#ico-banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
#ico-banner > * {
	flex-grow: 0;
	margin: 0 8px;
}
#ico-banner > *:first-child {
	margin-left: 0;
}
#ico-banner > *:last-child {
	margin-right: 0;
}
#ico-banner .separator {
	width: 1px;
	height: 100%;
	background: #425372;
}
#ico-banner-action {
	width: 275px;
}
@media (max-width: 1023px) {
	#ico-banner {
		justify-content: center;
		/*width: 290px;*/
		width: 100%;
		margin: 0 auto;
		height: auto;
	}
	#ico-banner > * {
		width: 100%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#ico-banner > *:first-child {
		margin-top: 0;
	}
	#ico-banner > *:last-child {
		margin-bottom: 0;
	}
	#ico-banner .separator {
		display: none;
	}
}

#ico-banner-status {
	width: 100%;
	margin-right: 0;
	font-size: 40px;
	text-align: center;
	color: #f18036;
}

#ico-banner-status .big {
	font-size: 32px;
	line-height: 40px;
}

#ico-banner-status .big strong {
	font-weight: 600;
}

#ico-banner-status .small {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin-top: 6px;
	color: #ffffff;
}

.ico-banner-bonus {
	line-height: 1;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.ico-banner-bonus-value {
	font-size: 30px;
}
.ico-banner-bonus-text {
	font-size: 16px;
	color: #f18036;
}
#ico-banner-bonus-ends {
	font-size: 20px;
}

#ico-banner-action .btn {
	width: 100%;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media (max-width: 1023px) {
	#ico-banner-status, .ico-banner-bonus {
		width: auto;
	}
	#ico-banner-status {
		order: -2;
		font-size: 30px;
	}
	.ico-banner-bonus {
		order: -1;
		margin-top: 0;
		margin-right: 0;
	}
	#ico-banner-action {
		margin-left: 0;
	}
}

/* fixed ICO banner in desktop mode */
@media (min-width: 1024px) {
	.fixed-header #ico-banner {
		justify-content: center;
		height: 40px;
	}
	.fixed-header #ico-banner-status {
		font-size: 26px;
	}
	.fixed-header #ico-banner-bonus-ends,
	.fixed-header #ico-banner-timer,
	.fixed-header #ico-banner-timer + .separator {
		display: none!important;
	}
	.fixed-header .ico-banner-bonus-value,
	.fixed-header .ico-banner-bonus-text {
		display: inline;
		font-size: 26px;
	}
	.fixed-header #ico-banner-action {
		width: 250px;
	}
	.fixed-header #ico-banner-action .btn {
		padding-top: 0.6em;
		padding-bottom: 0.6em;
	}
}


/**
 * Top section
 */
#top-section {
	position: relative;
	line-height: 1.25;
}

#top-section .container {
	position: relative;
	z-index: 50;
	padding-top: 23px;
	padding-bottom: 20px;
}
#particles {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

#hero {
	padding-bottom: 30px;
}
#top-image-wrapper {
	width: 200px;
}
#top-image-container {
	max-width: 420px;
}
@media (min-width: 1200px) {
	#top-image-container {
		margin-top: -30px;
	}
}
#top-image {
	position: relative;
	padding-bottom: 100%;
}
@media (min-width: 1040px) {
	#top-image {
		margin-top: 50px;
	}
}
#top-image img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.4s;
}
#top-image-colour {
	opacity: 0;
}
#top-image.hover #top-image-colour {
	opacity: 1;
}
#top-image.hover #top-image-bw {
	opacity: 0;
}

#top-text {
	color: #e8eaee;
	font-size: 16px;
}
#top-text h1 {
	font-size: 40px;
	margin-bottom: 24px;
	text-shadow: 2px 2px 3px rgba(22, 37, 68, 0.55);
}
#top-text .btn {
	/*width: 195px;*/
	margin-right: 20px;
	margin-bottom: 20px;
}
#top-text p {
	margin-bottom: 27px;
	line-height: 1.4445;
}
#top-text p:last-child {
	margin-bottom: 0;
}
#top-buttons {
	display: block;
	margin-top: 37px;
}
@media (min-width: 1200px) {
	#top-buttons {
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
	}
}
#top-text .btn:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

/* styles for top section in one-column layout */
@media (max-width: 1039px) {
	#top-image-container {
		margin-left: auto;
		margin-right: auto;
	}
	#top-text {
		text-align: center;
	}
	#top-text .btn,
	#top-text .btn:last-child {
		margin-left: 10px;
		margin-right: 10px;
	}
}

#statistics {
	padding: 41px 40px 60px 40px;
	margin-bottom: 5px;
	text-align: center;
	background: #2a3a59 url("../images/bg/bg-stat.png") top center / cover;
	box-shadow: 10px 17px 25px 0 rgba(14, 25, 47, 0.35);
}

#statistics .section-header::after {
	margin-top: 23px;
}

#statistics .section-header + p {
	margin-top: -8px;
	margin-bottom: 25px;
}

.progress-label {
	margin-top: -23px;
}

.progress-label > div {
	margin-bottom: 23px;
	width: 40%;
}

.label-start {
	text-align: left;
	margin-left: 50px;
}

.label-finish {
	text-align: right;
}

.progress {
	display: flex;
	margin-left: 60px;
	margin-right: 60px;
	position: relative;
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	min-height: 30px;
	background-color: #98abce;
	color: #3d4f72;
	transition: width 0.6s ease;
	position: relative;
}

.progress-text > span {
	color: #98abce;
}

.progress-number {
	position: absolute;
	width: 100px;
	top: 49px;
	left: 100%;
	margin-left: -50px;
	font-weight: 400;
	color: #98abce;
}

.progress-bar-animated {
	animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1rem 0;
	}
}

.bg-available {
	background: #f18136;
	color: #ffffff;
}

.bg-sold {
	background: #b3632e;
	color: #ffffff;
	background-image: linear-gradient(-45deg,
	rgb(203, 109, 45) 25%, transparent 25%, transparent 50%,
	rgb(203, 109, 45) 50%,
	rgb(203, 109, 45) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
}

.bg-transparent {
	background: transparent;
	color: #ffffff;
}

.bar-shadow {
	-webkit-box-shadow: 0 0 0 10px rgba(8, 15, 33, 0.25);
	-moz-box-shadow: 0 0 0 10px rgba(8, 15, 33, 0.25);
	box-shadow: 0 0 0 10px rgba(8, 15, 33, 0.25);
}

.bar-start::before,
.bar-divider::after,
.bar-middle::before,
.bar-middle::after,
.bar-finish::before,
.bar-finish::after {
	content: '';
	display: block;
	width: 2px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
	background: #ffffff;
}

.bar-divider::after,
.bar-middle::before,
.bar-middle::after {
	height: 55px;
	margin-top: -40px;
	background: transparent;
	background-image: linear-gradient(0deg,
	#ffffff, #ffffff 8px,
	transparent 8px, transparent 11px);
	background-size: 100% 11px;
}

.bar-divider::after,
.bar-middle::after {
	content: '';
	display: block;
	width: 2px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
	background: #ffffff;
}

.bar-divider::after,
.bar-middle::after,
.bar-finish::after {
	left: initial;
	right: 0;
}

#statistics {padding: 41px 40px 100px 40px;}
#statistics .section-header {margin-bottom:77px;}

.bar-fake {position: absolute; top: 0; left: 0;}
.bar-fake .progress-text {position: absolute; left: 0; bottom: -55px; width: 100%; color: #ffffff; font-weight: 400;}
.bar-middle .progress-text {position: absolute; left: 0; top: -66px; width: 250px; margin-left: -125px;  color: #ffffff; font-weight: 400;}
.bar-finish .progress-text {position: absolute; right: 0; bottom: -72px; width: 100%; color: #ffffff; font-weight: 400;}

@media (max-width: 1199px) {
	
	/* md */
	
	.label-start,
	.label-finish {
		font-size: 14px;
	}
	.label-start {
		margin-left: 15px;
	}
	.progress {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	
	/* sm */
	
	#statistics {
		padding: 21px 20px 50px 20px;
	}
	
	#statistics .section-header {
		font-size: 22px;
		margin-bottom: 97px;
	}
	
	#statistics .section-header::after {
		margin-top: 15px;
	}

	.progress {
		display: block;
	}

	.progress-bar {
		min-height: 50px;
	}

	.progress-text {
		font-size: 12px;
	}

	.bar-spacer {
		min-height: 30px;
	}
	
	.bar-start::before,
	.bar-start::after,
	.bar-middle::after,
	.bar-finish::before,
	.bar-finish::after {
		height: 52px;
		margin-top: -26px;
	}

	.bar-middle::before {
		height: 77px;
		margin-top: -52px;
	}

	.bar-start,
	.bar-finish {
		width: 100% !important;
	}
	.bar-finish .progress-text {
		position: relative;
		bottom: auto;
		left: auto;
	}

	.bar-fake .progress-text,
	.bar-fake .progress-text > span,
	.bar-middle .progress-text,
	.bar-middle .progress-text > span,
	.bar-finish .progress-text,
	.bar-finish .progress-text > span {
		font-weight: 600;
		color: #ffffff;
	}

	.bar-fake .progress-text {
		position: relative;
		left: auto;
		bottom: 0;
		display: block;
		top: auto;
	}

	.bar-middle .progress-text {
		right: 0;
		left: auto;
		margin-left: 0;
		text-align: right;
	}

}

@media (max-width: 390px) {

	/* xs */

}

#reasons {
	padding-top: 20px;
}
#reasons h3 {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	text-shadow: 2px 2px 3px rgba(22, 37, 68, 0.55);
}
#reasons .numblurb-content {
	font-weight: 600;
}
#reasons .highlighted {
	position: relative;
	top: -2px;
	padding: 1px 7px;
	border-radius: 4px;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: -0.055em;
	background: #f6872f;
	color: #ffffff;
}


/**
 * Problems/solutions section
 */
.problem-solutions {
	margin-bottom: 30px;
}
.problem-solutions:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.problem-title {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.problem-title .numblurb-number {
	float: none;
	vertical-align: middle;
	color: #f18036;
}
.problem-title h3 {
	vertical-align: middle;
	color: #f18036;
	font-size: 30px;
	line-height: 34px;
	margin-top: 11px;
}
.problems {
	margin-left: 25%;
	padding-left: 30px;
}
.problems {
	display: flex;
	justify-content: space-between;
}
.problem {
	width: 50%;
	margin: 0 15px;
}
.problem:first-child {
	margin-left: 0;
}
.problem:last-child {
	margin-right: 0;
}
.problem h4, .solution h4,
.problem p, .solution p {
	margin-bottom: 15px;
}
.problem h4 {
	color: #6b7a8f;
}
.problem h4 [class^="icon-"]::before,
.solution h4 [class^="icon-"]::before {
	width: auto;
	margin: 0;
}
.problem h4 .icon-attention,
.problem h4 .icon-cancel {
	color: #f57f45;
}
.solution h4 .icon-ok {
	color: #415470;
}
#problems .numblurb-number {
	box-shadow: none;
}
.problem {
	margin: 0 15px 29px 15px;
}
.problem h4 {
	font-size: 16px;
	margin-bottom: 14px;
}
.problem p {
	line-height: 26px;
	margin-bottom: 26px;
}
.problem p:last-child {
	margin-bottom: 0;
}
.solution {
	clear: both;
	margin: 0;
	background: #dde6eb;
}
.solution-inner {
	margin-left: 25%;
	padding: 20px 30px 20px 30px;
}
.solution h4 {
	font-size: 16px;
	margin-bottom: 14px;
}
.solution p {
	line-height: 26px;
	margin-bottom: 26px;
}
.solution p:last-child {
	margin-bottom: 0;
}
@media (max-width: 1023px) {
	.problem-title {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
	.problem-title .numblurb-number {
		display: inline-block;
		margin-right: 15px;
	}
	.problem-title h3 {
		display: inline-block;
		width: calc(100% - 95px);
		margin: 0;
		line-height: 1.15;
	}
	.problems, .solution {
		margin-left: 0;
		padding-left: 0;
	}
	.problems {
		flex-wrap: wrap;
		justify-content: center;
	}
	.problem {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.solution-inner {
		margin-left: 0;
	}
}


/**
 * Platform description section
 */
#platform-description-section {
	padding-bottom: 10px;
	text-align: justify;
}
#platform-description-section .container {
	padding-bottom: 10px;
}
#platform-text, #platform-scheme {
	box-sizing: border-box;
	margin-bottom: 40px;
}
#platform-text {
	padding-right: 50px;
}
#platform-scheme {
	padding-right: 15px;
}
#platform-scheme img {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
@media (max-width: 1199px) {
	#platform-text, #platform-scheme {
		width: 100%;
		padding: 0;
	}
	#platform-text {
		order: 1;
	}
}


/**
 * Blurbs section
 */
#blurbs-section .container {
	padding-bottom: 0;
}
.blurb {
	flex-grow: 0;
	margin-bottom: 50px;
}
.blurb img {
	float: left;
	width: 80px;
}
.blurb h4 {
	margin-bottom: 5px;
}
.blurb-content {
	text-align: justify;
}
.blurb-content {
	margin-left: 100px;
}


/**
 * Video section
 */
#video-section .container {
	padding-top: 35px;
	padding-bottom: 35px;
}
/* responsive video container https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
	max-width: 840px;
	margin: 0 auto;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
.video-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#video-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 1.5em 3.5em;
	box-shadow: 0 0 30px 15px rgba(66, 84, 112, 0.8);
	white-space: nowrap;
}
@media (max-width: 599px) {
	#video-btn {
		top: 50%;
		right: auto;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


/**
 * Wallet section
 */
#wallet-section img {
	margin-top: 3.5em;
	margin-bottom: 2em;
}

/**
 * Products section
 */
#products-section h4 {
	text-align: center;
}
#products-section img {
	width: 549.5px; /* all images in this section are 1099px wide */
}
#products-section .product {
	margin-bottom: 30px;
}
#products-section .product:last-child {
	margin-bottom: 0;
}
#products-section .product::before {
	content: '';
	display: block;
	width: 70px;
	margin: 0 auto 27px auto;
	border-bottom: 3px solid #f18036;
}
#products-section .product:last-child::after {
	display: none;
}


/**
 * ICO counter section
 */
#ico-counter-section {
	text-align: center;
	font-size: 18px;
}
#ico-counter-container .highlighted {
	font-weight: bold;
	color: #f18036;
}
#col-timer {
	position: relative;
}
#col-timer .timer-title {
	margin-bottom: 10px;
	font-weight: bold;
}


/**
 * Timeline section
 */
#timeline-section {
	text-align: center;
}
#timeline-section .container {
	padding-bottom: 0;
}
#timeline-wrapper {
	padding-bottom: 15px;
}
#timeline-slider {
	position: relative;
	margin: 0 auto;
}
#timeline-slider .pagination-bullets {
	display: none;
}

.timeline-card {
	width: 212px;
	margin-right: 20px;
	font-size: 16px;
	line-height: 1.5;
	white-space: normal;
}
.timeline-card:first-child {
	margin-left: 0;
}
.timeline-card:last-child {
	margin-right: 0;
}
@media (max-width: 1169px) {
	#timeline-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	/* 3 slides */
	#timeline-slider {
		width: 850px;
	}
	#timeline-slider .pagination-bullets {
		display: block;
	}
	.timeline-card {
		width: 270px;
	}
}
/* 2 slides */
@media (max-width: 899px) {
	#timeline-slider {
		width: 560px;
	}
}
/* 1 slide */
@media (max-width: 609px) {
	#timeline-slider {
		width: 270px;
	}
}

/* fade out ICO timeline past rounds */
.ico-current-1 .ico-timeline-pre, .ico-current-2 .ico-timeline-pre, .ico-current-3 .ico-timeline-pre, .ico-current-4 .ico-timeline-pre,
.ico-current-2 .ico-timeline-1, .ico-current-3 .ico-timeline-1, .ico-current-4 .ico-timeline-1,
.ico-current-3 .ico-timeline-2, .ico-current-4 .ico-timeline-2,
.ico-current-4 .ico-timeline-3 {
	opacity: 0.6;
}

.timeline-card .faded {
	color: #889cbf;
}
.ico-round {
	background: #415275;
}
.timeline-price, .timeline-action {
	background: #f3f4f6;
}
.ico-round, .timeline-price {
	margin-bottom: 4px;
}

.timeline-card p {
	margin: 0;
}

.ico-round {
	min-height: 110px;
	padding: 20px 5px;
	color: #f3f4f6;
	font-size: 18px;
}
.ico-round h4 {
	margin: 0;
	color: #ffffff;
	font-weight: bold;
}
.ico-round-live, .ico-round-ended {
	font-size: 36px;
	text-transform: uppercase;
}
.ico-round-bonus {
	color: #f18036;
	font-weight: bold;
}

.timeline-price {
	min-height: 6em;
	padding: 20px 5px;
}
.timeline-action {
	line-height: 50px;
	font-weight: bold;
}
.timeline-action button.btn,
.timeline-action a.btn {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
}


/**
 * Crypto section
 */
#crypto-section {
	text-align: center;
}
#crypto-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#crypto-icons img {
	width: 75px;
	height: 75px;
}


/**
 * What's in for me section
 */
#whats-in-section .container {
	padding-bottom: 0;
}
#whats-in {
	padding-top: 20px;
}
.whats-in-item {
	margin-bottom: 50px;
}
.whats-in-header {
	margin-bottom: 20px;
}
.whats-in-header img {
	width: 91px;
	height: 91px;
	margin-right: 15px;
	vertical-align: middle;
}
.whats-in-header h4 {
	display: inline-block;
	max-width: 154px;
	margin: 0;
	vertical-align: middle;
	color: #f18036;
}
.whats-in-body ul {
	margin: 0;
}


/**
 * Token charts section
 */
#tokens-section {
	text-align: center;
}
#tokens-section .flex-container > div {
	margin-bottom: 20px;
}
.chart-wrapper {
	max-width: 555px; /* chart width limit */
	margin: 0 auto;
}
.chart-container {
	position: relative;
	padding-bottom: 54%; /* padding to maintain chart aspect ratio */
}
.chart {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


/**
 * Roadmap section
 */
.roadmap-description {
	text-align: center;
}
@media (max-width: 767px) {
	.roadmap-description {
		text-align: justify;
	}
}


/**
 * Partners section
 */
#partners-section .container {
	padding-bottom: 20px;
}
#partners {
	justify-content: space-around;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#partners a {
	margin-bottom: 20px;
}
#partners img {
	max-width: 170px;
	height: 65px;
	opacity: 0.4;
	transition: opacity 0.35s;
}
#partners a:hover img {
	opacity: 0.9;
}


/**
 * Team & Advisors sections
 */
#team-section > .container, #advisors-section > .container {
	padding-bottom: 0;
}
.team > * {
	margin-bottom: 50px;
}
.team .person-header {
	margin-bottom: 30px;
}
.team .avatar {
	vertical-align: middle;
	width: 100px;
	margin-right: 10px;
	border-radius: 50%;
}
.team .person {
	display: inline-block;
	max-width: 235px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1.6;
}
@media (max-width: 374px) {
	.team .person {
		max-width: 180px;
	}
}
.team .person h4,
.team .person p {
	margin-bottom: 0;
}
.team .person h4,
.team .person .position {
	font-size: 16px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}
.team .person .position,
.team .person .position a {
	color: #f18036;
}
.team .description {
	text-align: justify;
}

.team a[class|="icon"] {
	text-decoration: none;
}
.team .icon-linkedin {
	font-size: 16px;
}
.team .icon-linkedin::before {
	width: 1.4em;
	height: 1.4em;
	margin: 0;
	border: 1px solid #0077B5;
	font-size: 14px;
	line-height: 1.4em;
	color: #0077B5;
}

/**
 * Media section
 */
#media-slider {
	position: relative;
	margin: 0 20px;
}
#media-slider .prev, #media-slider .next {
	top: 45px;
	margin-top: -37px;
	font-size: 50px;
}
#media-slider .prev {
	left: -35px;
}
#media-slider .next {
	right: -35px;
}
#media-slider .pagination-bullets {
	margin-bottom: 0;
}
.media-article {
	text-align: center;
}
.media-article p {
	margin: 0 0 15px 0;
}
.media-article p:last-child {
	margin-bottom: 0;
}
.media-logo {
	display: block;
	margin: 0 auto;
}
.media-name {
	text-align: center;
}
.media-name, .media-name a {
	color: #f18036;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
.media-name a:hover {
	text-decoration: underline;
}

@media (max-width: 767px) {
	#media-slider .prev, #media-slider .next {
		top: 40%;
	}
	.media-article {
		text-align: justify;
	}
}

/**
 * Contact Us
 */
#contact-form-container {
	position: relative;
}
#contact-form-container .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
#contact-form-container.loading #contact-form {
	opacity: 0.5;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0 auto 30px auto;
}
#contact-form textarea {
	height: 5em;
	resize: vertical;
}
