html {
	height: 100%;
	background: #ffffff;
	color: #6b7a8f;
	font: normal 16px/1.5 "Open Sans", Arial, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*
 * Common HTML elements
 */
h1, h2, h3, h4, h5, h6 {
	color: #415275;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1 {
	margin: 0 0 30px 0;
	font-size: 44px;
	font-weight: 600;
}
h2 {
	margin: 0 0 30px 0;
	font-size: 30px;
	font-weight: 600;
}
.section-header {
	text-align: center;
}
.section-header::after {
	content: '';
	display: block;
	width: 70px;
	margin: 27px auto 0 auto;
	border-bottom: 3px solid #f18036;
}
h4 {
	margin: 0 0 30px 0;
	font-size: 18px;
	font-weight: bold;
}

p, ul, ol {
	margin: 0 0 30px 0;
}
ul, ol {
	padding-left: 1em;
}

a {
	color: #6b7a8f;
	text-decoration: underline;
}

a.no-line,
a.no-line:hover,
a.no-line:focus {
	text-decoration: none;
	color: inherit;
}

.strike {
	text-decoration: line-through;
}

input, button, textarea {
	box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 0.75em;
	border: 1px solid #7e8fb4;
	outline: none;
	background: #ffffff;
	color: #6b7a8f;
}
.gray input[type="text"],
.gray input[type="email"],
.gray input[type="password"],
.gray textarea {
	border-color: #dfdfdf;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
	color: #7e8fb4;
}

.user-step {
	color: #425372;
	font-weight: bold;
}
.blue .user-step {
	color: #ffffff;
}


/**
 * Common classes
 */
.hidden {
	display: none !important;
}
.btn {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	min-width: 160px;
	padding: 0.75em 1.5em;
	border: 1px solid #f18036;
	background: transparent;
	color: #3e5075;
	text-align: center;
	line-height: 1.25;
	text-decoration: none;
	cursor: pointer;
}
.btn:hover {
	text-decoration: none;
}
.btn:disabled {
	cursor: auto;
}
.blue .btn {
	border-color: #ffffff;
	color: #ffffff;
}
.btn.btn-orange {
	border-color: #f18036;
	outline: none;
	background: #f18036;
	color: #ffffff;
	font-weight: 600;
}
.btn.btn-orange:disabled {
	border-color: #bec8dd;
	background: #bec8dd;
	color: #8a98b1;
}
.btn.highlighted {
	border-color: #f18036;
}
.btn.animated.highlighted::after {
	color: #f18036;
}
.btn.animated {
	transition: padding 0.2s;
}
.btn.animated::after {
	content: '\f105';
	display: inline-block;
	position: absolute;
	width: 1em;
	margin-left: -1em;
	opacity: 0;
	font-family: 'fontello';
	font-size: 120%;
	line-height: 1;
	transition: margin 0.2s, opacity 0.2s;
}
.btn.animated:hover {
	padding-left: 1em;
	padding-right: 2em;
}
.btn.animated:hover::after {
	margin-left: 0.2em;
	opacity: 1;
}

.checkbox {
	position: relative;
	padding-left: 2em;
}
.checkbox input[type="checkbox"] {
	display: none;
}
.checkbox input[type="checkbox"] + label {
	vertical-align: middle;
}
.checkbox input[type="checkbox"] + label::before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0.45em;
	left: 0;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	border: 2px solid #7e8fb4;
	color: #f18036;
	font-family: 'fontello';
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
}
.checkbox input[type="checkbox"]:checked + label::before {
	content: '\e800';
}

.input-group {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	box-sizing: border-box;
}
.input-group .form-control {
	flex: 1 1 auto;
	width: 3em; /* will be stretched by flexbox anyway */
}
.input-group .form-addon {
	padding: 0.75em;
	border-style: solid;
	border-color: #7e8fb4;
	outline: none;
	background: #ffffff;
	color: #6b7a8f;
}
.gray .input-group .form-addon {
	border-color: #dfdfdf;
}
.input-group .form-control,
.input-group .form-addon {
	border-width: 1px 0 1px 1px;
}
.input-group .form-control:last-child,
.input-group .form-addon:last-child {
	border-right-width: 1px;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
	display: none;
	border: 8px solid #dfdfdf;
	border-top: 8px solid #7e8fb4;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.thank-you {
	padding: 15px;
	text-align: center;
	font-size: 200%;
}
.error {
	padding: 15px;
	color: red;
	text-align: center;
}

.form-crumbs {
	display: flex;
	margin-bottom: 15px;
	padding-right: 37px;
}
.form-crumb {
	flex: 1;
	position: relative;
	background: #f3f4f6;
	height: 75px;
	padding-left: 30px;
	border: 1px solid #dadada;
	box-shadow: 3px 3px 4px 0 rgba(80, 80, 80, 0.2);
	color: #818181;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.form-crumb:first-child {
	padding-left: 5px;
}
.form-crumb::after {
	content: '';
	display: block;
	position: absolute;
	right: -28px;
	top: 10px;
	z-index: 10;
	width: 53px; /* 75/sqrt(2) */
	height: 54px;
	transform: rotate(45deg);
	background: #f3f4f6;
	border-top: 1px solid #dadada;
	border-right: 1px solid #dadada;
}
.form-crumb:last-child::after {
	box-shadow: 6px 0 4px -3px rgba(80, 80, 80, 0.2);
}
.form-crumb > span {
	position: relative;
	z-index: 20;
}
@media (max-width: 767px) {
	.form-crumbs {
		padding-right: 15px;
	}
	.form-crumb {
		height: 40px;
		padding-left: 15px;
		font-size: 10px;
	}
	.form-crumb > span {
		margin-right: -15px;
	}
	.form-crumb:first-child {
		padding-left: 0;
	}
	.form-crumb::after {
		top: 6px;
		right: -15px;
		width: 27px;
		height: 28px;
	}
}

.form-crumb.past {
	color: #f18036;
}
.form-crumb.active {
	background: #f18036;
	border-color: #f18036;
	color: #ffffff;
}
.form-crumb.active::after {
	background: #f18036;
}
.form-crumb.active::after {
	border-color: #f18036;
}


.form-step {
	padding: 15px 30px 0 30px;
}
.form-section {
	padding: 20px 30px;
}
.form-section > :last-child {
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.form-step {
		padding-left: 0;
		padding-right: 0;
	}
	.form-section {
		padding: 15px;
	}
}

.form-section p.highlighted {
	color: #f18036;
}
.form-section span.highlighted {
	color: #f18036;
	font-weight: bold;
}

.content-form {
	width: 100%;
	max-width: 555px;
	margin: 0 auto;
}
.content-form input[type="text"],
.content-form input[type="email"],
.content-form input[type="password"],
.content-form textarea {
	display: block;
	width: 100%;
}
.input-block {
	margin-bottom: 10px;
}

/**
 * Home sections
 */
body > section:first-of-type {
	padding-top: 80px;
}
.blue {
	background-color: #425372;
}
.blue, .blue h1, .blue h2, .blue h3, .blue h4, .blue a {
	color: #ffffff;
}
.gray {
	background-color: #f3f4f6;
}
#ico-counter-section, #whats-in-section, #partners-section, #media-section, #main-footer {
	background-image: url("../images/bg/bg.png");
	background-size: cover;
	background-position-x: center;
}
#ico-counter-section {
	background-position-y: 80%;
}
#whats-in-section {
	background-position-y: top;
}
#partners-section {
	background-position-y: 20%;
	transform: scaleX(-1); /* flip background */
}
#partners-section > * {
	transform: scaleX(-1); /* flip content back */
}
#media-section {
	background-position-y: top;
}
#main-footer {
	background-position-y: bottom;
}

.stepform-title-section.blue {
	background: url("../images/bg/bg-title.png") center center / cover;
}

.container {
	box-sizing: border-box;
	max-width: 1170px;
	min-width: 320px;
	margin: 0 auto;
	padding: 50px 15px 40px 15px;
}

.divider {
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #f3f4f6;
	border-left: none;
}
.blue .divider {
	border-color: #68758e;
}
hr.divider {
	margin: 15px 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.flex-container > * {
	margin-left: 15px;
	margin-right: 15px;
}
.flex-cols-2 {
	justify-content: space-between;
}
.flex-cols-2 > * {
	flex-grow: 1;
	width: 490px;
}
@media (max-width: 1039px) {
	.flex-container.flex-cols-2 {
		justify-content: center;
	}
	.flex-cols-2 > * {
		width: 100%;
	}
}
.flex-cols-3 {
	justify-content: space-around;
}
.flex-cols-3 > * {
	max-width: 360px;
	margin-bottom: 20px;
}
.flex-cols-3-nowrap {
	flex-wrap: nowrap;
	justify-content: space-between;
}
.flex-cols-3-nowrap > * {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 360px;
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	.flex-cols-3-nowrap {
		flex-wrap: wrap;
	}
	.flex-cols-3-nowrap > * {
		flex-basis: auto;
		width: 100%;
	}
}
.flex-cols-4 {
	justify-content: space-around;
}
.flex-cols-4 > * {
	width: 260px;
}

.col-vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timer {
	display: flex;
	justify-content: center;
	visibility: hidden;
	text-align: center;
}
.timer.shown {
	visibility: visible;
}
.ico-timer {
	font-size: 14px;
}
.ico-timer .timer-cell {
	width: 70px;
	height: 70px;
	margin: 0 5px 5px 5px;
	background: #ffffff;
	color: #415275;
	font: bold 44px/70px Helvetica, Arial, Lucida, sans-serif;
}
@media (max-width: 359px) {
	.ico-timer {
		font-size: 12px;
	}
	.ico-timer .timer-cell {
		width: 50px;
		height: 50px;
		font-size: 35px;
		line-height: 50px;
	}
}
.banner-timer {
	font-size: 40px;
	line-height: 1;
	font-weight: 600;
}
.banner-timer .timer-cell {
	width: 50px;
}
.banner-timer > * {
	margin: 0 10px;
}
.banner-timer > :first-child {
	margin-left: 0;
}
.banner-timer > :last-child {
	margin-right: 0;
}
.banner-timer .timer-text {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	color: #f18036;
}
@media (max-width: 359px) {
	.banner-timer {
		font-size: 30px;
	}
	.banner-timer .timer-cell {
		width: 40px;
	}
	.banner-timer .timer-text {
		font-size: 10px;
	}
	.banner-timer > * {
		margin: 0 5px;
	}
}

.social a {
	opacity: 0.4;
	text-decoration: none;
	transition: opacity 0.35s;
}
.social a:hover {
	opacity: 0.9;
}

.centered {
	text-align: center;
}

.center-justified {
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

/**
 * Timeline
 */
/* https://codyhouse.co/gem/vertical-timeline/ */
.cd-timeline-container {
	position: relative;
	padding: 2em 0;
}
.cd-timeline-container::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 21px;
	height: 100%;
	width: 0;
	border-left: 1px dotted #6b7a8f;
}
.cd-timeline-container::after {
	/* this is the dot on the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 21px;
	width: 5px;
	height: 5px;
	margin-left: -2px;
	background: #415275;
	border-radius: 50%;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-container::before {
		left: 50%;
	}
	.cd-timeline-container::after {
		left: 50%;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: -2em 0 0 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 13px;
	left: 0;
	width: 40px;
	height: 40px;
	border: 1px solid #6b7a8f;
	border-radius: 50%;
	background: white;
	color: #f18036;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}
.cd-timeline-img .icon-back-in-time {
	margin-left: -2px;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		left: 50%;
		margin-left: -20px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #f3f4f6;
	padding: 20px 30px;
}
.cd-timeline-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 22px;
	right: 100%;
	height: 0;
	width: 0;
	border: 13px solid transparent;
	border-right: 13px solid #f3f4f6;
}
.cd-timeline-content h4, .cd-timeline-content p, .cd-timeline-content ol, .cd-timeline-content ul {
	margin-bottom: 5px;
	padding: 0;
}
.cd-timeline-content ul {
	list-style: none;
}
.cd-timeline-content ul > li {
	padding-left: 0.75em;
	text-indent: -0.75em;
} 
.cd-timeline-content ul > li::before {
	content: "• ";
	color: #f18036;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		width: 41%;
	}
	.cd-timeline-content::before {
		left: 100%;
		border-color: transparent;
		border-left-color: #f3f4f6;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 22px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #f3f4f6;
	}
}

/**
 * Swiper slider styles
 */
.swiper-container {
	margin-bottom: 20px;
}
.prev, .next {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	color: #b8bcc4;
	font-size: 35px;
	cursor: pointer;
}
.next {
	right: -25px;
}
.prev {
	left: -25px;
}
.prev.disabled, .next.disabled {
	display: none;
}
.prev::before, .next::before {
	width: 25px;
	margin: 0;
}

.pagination-bullets {
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
.pagination-bullets .bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 3px;
	border-radius: 50%;
	background: #d8dadf;
	cursor: pointer;
}
.pagination-bullets .bullet.active {
	background: #415275;
}
.blue .pagination-bullets .bullet {
	background: #ffffff;
	opacity: 0.4;
}
.blue .pagination-bullets .bullet.active {
	opacity: 1;
}


/**
 * Popups and shims
 */
.shim {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 70;
	background: rgba(22, 37, 65, 0.86);
}
.popup-shim {
	z-index: 150;
}
.popup {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	max-width: 810px;
	max-height: 90%;
	margin: 0 auto;
}

.close-popup {
	position: absolute;
	top: -10px;
	right: -10px;
}
.close-popup::before {
	border-radius: 50%;
	margin: 0;
	padding: 5px;
	background: white;
	color: #415275;
	box-shadow: -3px 3px 3px 0 rgba(33, 51, 82, 0.1);
	font-size: 18px;
	text-decoration: none;
}
@media (max-width: 1023px) {
	.popup {
		top: 0;
		bottom: 0;
		transform: none;
		max-width: none;
		max-height: none;
	}
	.popup .close-popup {
		top: 10px;
		right: 10px;
	}
}

.popup-header {
	padding: 40px 15px;
	background: url("../images/bg/bg-popup.png") left center #425372;
	text-align: center;
}
.popup-header, .popup-header h4 {
	color: #ffffff;
}
.popup-header h4 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}
@media (max-width: 424px) {
	.popup-header {
		background-position-x: -145px;
	}
}

.popup-body {
	flex-grow: 1;
	padding: 30px;
	overflow-y: auto;
	background: #ffffff;
}
.popup-body h4 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
.popup-body > :last-child,
.form-step > :last-child {
	margin-bottom: 0;
}


#subscribe-form {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	max-width: 615px;
	margin: 0 auto;
}
#subscribe-header {
	padding: 30px;
	background: #ffffff;
}
#share-img {
	margin-right: 40px;
	vertical-align: middle;
}
#subscribe-header-text {
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
}
#subscribe-header h4,
#subscribe-header p {
	margin: 0;
}
#subscribe-body {
	padding: 30px;
}
#subscribe-email {
	width: 100%;
	max-width: 358px;
	margin-right: 30px;
}
#subscribe-submit {
	width: 163px;
}
@media (max-width: 767px) {
	#subscribe-form {
		top: 0;
		max-width: none;
		text-align: center;
	}
	#subscribe-form .close-popup {
		top: 10px;
		right: 10px;
	}
	#share-img {
		display: block;
		margin: 0 auto;
	}
	#subscribe-email {
		max-width: none;
		margin: 0 0 30px 0;
	}
}

/**
 * Link to top
 */
#to-top-section > .container {
	position: relative;
	padding: 0;
}
#to-top-positioner {
	position: absolute;
	right: 0;
}
@media (max-width: 1264px) {
	#to-top-positioner {
		right: 50px;
	}
}
#to-top {
	display: block;
	position: fixed;
	z-index: 60;
	bottom: 20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 3px 3px 3px 0 rgba(33, 51, 82, 0.1);
	background: #2c3955;
	color: white;
	text-align: center;
	font-size: 22px;
	line-height: 31px;
	text-decoration: none;
}

#social-float {
	position: fixed;
	top: 275px;
	right: 10px;
	z-index: 60;
	text-align: right;
}
@media (max-width: 1023px) {
	#social-float {
		top: 320px;
	}
}
#social-float a {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 20px;
	background: #ffffff;
	box-shadow: 1px 1px 4px 0 rgba(22, 37, 68, 0.55);
	color: #425372;
	font-size: 14px;
	font-weight: bold;
}
#social-float a > span {
	display: inline-block;
	box-sizing: content-box;
	width: 0;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	transition: width 0.4s;
}
#social-float a > img {
	vertical-align: middle;
}
#social-float a.hover {
	box-shadow: 0 0 0 2px #ffffff, 1px 1px 4px 2px rgba(22, 37, 68, 0.55);
}
#social-float a.hover > span {
	width: 12em;
	margin-left: 1em;
}

/**
 * Conditional hiding depending on current ICO round
 */
.ico-shown-pre-pre, .ico-shown-pre, .ico-shown-1, .ico-shown-2, .ico-shown-3, .ico-shown-4 {
	display: none!important;
}
.ico-current-pre-pre .ico-shown-pre-pre,
.ico-current-pre .ico-shown-pre,
.ico-current-1 .ico-shown-1,
.ico-current-1 .ico-shown-2,
.ico-current-1 .ico-shown-3,
.ico-current-4 .ico-shown-4 {
	display: block!important;
}


/**
 * Main content
 */
.home-content {
	text-align: center;
}
.home-content img {
	display: block;
	max-width: 100%;
	margin: 0 auto 70px auto;
}
@media (max-width: 767px) {
	.home-content {
		text-align: justify;
	}
	.home-content img {
		margin-bottom: 30px;
	}
}

.title-section {
	text-align: center;
}
.title-section > .container {
	padding-bottom: 0;
}
.title-section.blue > .container,
.title-section.gray > .container {
	padding-bottom: 40px;
}
.title-section.stepform-title-section > .container {
	padding-bottom: 80px;
}
.title-section h1 {
	font-size: 30px;
}

.title-section-large {
	background: url("../images/bg/bg-title-large.png") center center / cover;
}
.title-section-large .title-hero {
	vertical-align: middle;
	margin-right: 80px;
}
.title-section-large h1 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	max-width: calc(100% - 370px);
	font-size: 40px;
	text-shadow: 2px 2px 3px rgba(22,37,68,.55);
}
@media (max-width: 767px) {
	.title-section-large {
		text-align: center;
	}
	.title-section-large .title-hero {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.title-section-large h1 {
		display: block;
		max-width: none;
	}
}


.content-section {
	flex-grow: 1;
	text-align: justify;
}
.content-section.stepform-section > .container {
	margin-top: -38px;
	padding-top: 0;
}
@media (max-width: 767px) {
	.content-section.stepform-section > .container {
		margin-top: -21px;
	}
}
.content-subsection {
	margin-left: 35px;
}
.content-section h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px 15px;
	background: #f3f4f6;
	font-size: 18px;
	font-weight: bold;
}
.content-section h2::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 40px;
	height: 3px;
	background: #f18036;
}
.content-section p + h2, .content-section ul + h2, .content-section ol + h2 {
	margin-top: -15px;
}
.content-section h3 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
.content-section h4 {
	margin: 0;
	color: #6b7a8f;
	font-size: 16px;
	font-weight: bold;
}

.content-section ul {
	padding: 0 0 0 1em;
	list-style: disc outside;
}
.content-section p + ul, .content-section p + ol {
	margin-top: -30px;
}


.content-section a {
	color: #f18036;
}

.content-section h2:first-child {
	margin-top: 0;
}
.title-section .container > :last-child,
.content-section .container > *:last-child {
	margin-bottom: 0;
}

.content-section .download-link {
	color: #425376;
	font-weight: bold;
	text-decoration: none;
}
.content-section .download-link img {
	position: relative;
	top: -6px;
	vertical-align: middle;
}


/**
 * Header
 */
#main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 80px;
	background: #ffffff;
	box-shadow: 0 3px 3px 0 rgba(33, 51, 82, 0.1);
	line-height: 80px;
	transition: height 0.4s, line-height 0.4s;
}
#main-header.fixed-header {
	height: 50px;
	line-height: 50px;
}
#main-header .container {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

#logo {
	display: block;
	float: left;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#logo img {
	height: 50%;
	vertical-align: middle;
}

/**
 * Top menu
 */
#top-menu {
	position: relative;
	height: 100%;
	margin-left: 140px;
	text-align: right;
}
#top-menu ul {
	margin: 0;
	padding: 0;
}
#top-menu li {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}
#top-menu li.highlighted {
	margin-left: 5px;
	margin-right: 5px;
}
#top-menu li:first-child {
	margin-left: 0;
}
#top-menu li:last-child {
	margin-right: 0;
}
#top-menu a {
	text-decoration: none;
}
#top-menu .highlighted a {
	display: inline-block;
	padding: 0.5em 0.75em;
	line-height: 1.4;
	border: 1px solid #f18036;
	color: #f18036;
}
#top-menu li:not(.highlighted) a:hover,
#top-menu li:not(.highlighted) a.active {
	border-bottom: 3px solid #f18036;
	color: #415275;
}

#top-menu .menu-button {
	display: none;
}
#top-menu .menu-button::before {
	font-size: 180%;
	line-height: inherit;
}
#top-menu a.menu-button:hover {
	border-bottom: none;
}

@media (max-width: 1023px) {
	#top-menu .menu-button {
		display: inline;
	}
	#top-menu ul {
		position: absolute;
		display: none;
		left: -155px;
		right: -15px;
		top: 100%;
		padding: 0 15px 20px 15px;
		background: rgba(255, 255, 255, 0.94);
		box-shadow: 0 3px 3px 0 rgba(33, 51, 82, 0.1);
		text-align: center;
	}
	#top-menu.open ul {
		display: block;
	}
	#top-menu li {
		display: block;
		margin: 25px 0;
		line-height: 1.5;
	}
	#top-menu li.highlighted {
		margin: 15px 0;
	}
}


/**
 * ICO banner section
 */
#ico-banner-section {
	background-color: #1d2f54;
	background-image: url("../images/bg/bg-banner.png");
	background-size: cover;
	background-position-x: center;
}
#ico-banner-section .container {
	padding-top: 20px;
	padding-bottom: 20px;
}
#ico-banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#ico-banner > * {
	flex-grow: 0;
}
#ico-banner .separator {
	width: 1px;
	background: #425372;
}
#ico-banner-action {
	width: 275px;
}
@media (max-width: 1023px) {
	#ico-banner {
		justify-content: center;
	}
	#ico-banner > * {
		width: 100%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#ico-banner > *:first-child {
		margin-top: 0;
	}
	#ico-banner > *:last-child {
		margin-bottom: 0;
	}
	#ico-banner .separator {
		display: none;
	}
}

#ico-banner-status {
	font-size: 40px;
	color: #f18036;
}
#ico-banner-bonus {
	line-height: 1;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
#ico-banner-bonus-value {
	font-size: 30px;
}
#ico-banner-bonus-text {
	font-size: 16px;
	color: #f18036;
}

#ico-banner-action .btn {
	width: 100%;
	max-width: 290px;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media (max-width: 1023px) {
	#ico-banner-status, #ico-banner-bonus {
		width: auto;
	}
	#ico-banner-status {
		order: -2;
		margin-right: 15px;
		font-size: 30px;
	}
	#ico-banner-bonus {
		order: -1;
		margin-top: 0;
	}
}


/**
 * Top section
 */
#top-section {
	position: relative;
	line-height: 1.25;
}

#top-section .container {
	position: relative;
	z-index: 50;
	padding-top: 23px;
	padding-bottom: 20px;
}
#particles {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

#hero {
	padding-bottom: 30px;
}
#top-image-wrapper {
	width: 200px;
}
#top-image-container {
	max-width: 420px;
}
@media (min-width: 1200px) {
	#top-image-container {
		margin-top: -30px;
	}
}
#top-image {
	position: relative;
	padding-bottom: 100%;
}
#top-image img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.4s;
}
#top-image-colour {
	opacity: 0;
}
#top-image.hover #top-image-colour {
	opacity: 1;
}
#top-image.hover #top-image-bw {
	opacity: 0;
}

#top-text {
	color: #e8eaee;
	font-size: 18px;
}
#top-text h1 {
	font-size: 40px;
	margin-bottom: 24px;
	text-shadow: 2px 2px 3px rgba(22, 37, 68, 0.55);
}
#top-text .btn {
	/*width: 195px;*/
	margin-right: 20px;
	margin-bottom: 20px;
}
#top-text p {
	margin-bottom: 27px;
	line-height: 1.4445;
}
#top-text p:last-child {
	margin-bottom: 0;
}
#top-buttons {
	display: block;
	margin-top: 37px;
}
@media (min-width: 1200px) {
	#top-buttons {
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
		margin-left: 20px;
		position: relative;
		top: -13px;
	}
}
#top-text .btn:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

/* styles for top section in one-column layout */
@media (max-width: 1039px) {
	#top-image-container {
		margin-left: auto;
		margin-right: auto;
	}
	#top-text {
		text-align: center;
	}
	#top-text .btn,
	#top-text .btn:last-child {
		margin-left: 10px;
		margin-right: 10px;
	}
}

#statistics {
	padding: 41px 40px 77px 40px;
	margin-bottom: 5px;
	text-align: center;
	background: #2a3a59 url("../images/bg/bg-stat.png") top center / cover;
	box-shadow: 10px 17px 25px 0 rgba(14, 25, 47, 0.35);
}

#statistics .section-header::after {
	margin-top: 23px;
}

.progress-label {
	margin-top: -23px;
}

.progress-label > div {
	margin-bottom: 23px;
	width: 40%;
}

.label-start {
	text-align: left;
	margin-left: 50px;
}

.label-finish {
	text-align: right;
}

.progress {
	display: flex;
	margin-left: 60px;
	margin-right: 60px;
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	padding: 6px 5px;
	background-color: #98abce;
	color: #3d4f72;
	transition: width 0.6s ease;
	position: relative;
}

.progress-number {
	position: absolute;
	width: 100px;
	top: 49px;
	left: 50%;
	margin-left: -50px;
	font-weight: 400;
	color: #98abce;
}

.progress-bar-animated {
	animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1rem 0;
	}
}

.bg-available {
	background: #f18136;
	color: #ffffff;
}

.bg-sold {
	background: #b3632e;
	color: #ffffff;
	background-image: linear-gradient(-45deg,
	rgb(203, 109, 45) 25%, transparent 25%, transparent 50%,
	rgb(203, 109, 45) 50%,
	rgb(203, 109, 45) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
}

.bg-transparent {
    background: transparent;
    color: #ffffff;
}

.bar-start::before,
.bar-middle::before,
.bar-middle::after,
.bar-finish::after {
	content: '';
	display: block;
	width: 2px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -26px;
	background: #ffffff;
}

.bar-middle::before,
.bar-middle::after {
	height: 55px;
	margin-top: -29px;
	background: transparent;
	background-image: linear-gradient(0deg,
	#ffffff, #ffffff 8px,
	transparent 8px, transparent 11px);
	background-size: 100% 11px;
}

.bar-middle::after,
.bar-finish::after {
	left: initial;
	right: 0;
}

@media (max-width: 1199px) {

	/* md */

	.label-start,
	.label-finish {
		font-size: 14px;
	}
	.label-start {
		margin-left: 15px;
	}
	.progress {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 767px) {

	/* sm */

	#statistics {
		padding: 21px 20px 77px 20px;
	}

	#statistics .section-header {
		font-size: 25px;
		margin-bottom: 103px;
	}

	#statistics .section-header::after {
		margin-top: 15px;
	}

	.progress-label {
		margin-top: 0;
		margin-bottom: -51px;
	}

	.progress-label > div {
		width: 35%;
	}

	.label-start,
	.label-finish {
		font-size: 10px;
	}

	.label-start { padding-left: 5px; }
	.label-finish { padding-right: 5px; }

	.label-gro {
		display: none;
	}

	.progress-bar {
		padding: 5px;
	}

	.progress-text {
		font-size: 12px;
		font-weight: 400;
		position: absolute;
		width: 100px;
		color: #ffffff;
	}

	.progress-number {
		font-size: 12px;
	}

	.bar-start .progress-text { top: -64px; left: 1px; text-align: left; }
	.bar-middle .progress-text { top: 31px; left: 50%; margin-left: -50px; }
	.bar-finish .progress-text { top: -64px; right: 1px; text-align: right; }

	.bar-start .progress-number { top: -35px; left: 1px; margin-left: 0; text-align: left; }
	.bar-middle .progress-number { top: 46px; }
	.bar-finish .progress-number { top: -35px; left: initial; right: 1px; margin-left: 0; text-align: right; }

	.bar-start::before,
	.bar-finish::after {
		height: 34px;
		margin-top: -17px;
	}

	.bar-middle::before,
	.bar-middle::after {
		height: 40px;
		margin-top: -22px;
		background-image: linear-gradient(0deg, #ffffff, #ffffff 4px, transparent 4px, transparent 8px);
		background-size: 100% 8px;
	}
}

#reasons {
	padding-top: 20px;
}
#reasons h3 {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	text-shadow: 2px 2px 3px rgba(22, 37, 68, 0.55);
}
.reason {
	margin-bottom: 20px;
}
.reason-number {
	float: left;
	width: 65px;
	height: 65px;
	border: 3px solid #f18036;
	border-radius: 50%;
	background: rgba(241, 129, 54, 0.05);
	box-shadow: 2px 2px 3px rgba(22, 37, 68, 0.55);
	color: #f18036;
	text-align: center;
	font-size: 40px;
	line-height: 61px;
}
.reason-content {
	margin-left: 80px;
	font-size: 14px;
	font-weight: 600;
}
#reasons .highlighted {
	padding: 0 3px;
	border-radius: 4px;
	background: #f18036;
	color: #425372;
}


/**
 * Platform description section
 */
#platform-description-section {
	padding-bottom: 10px;
	text-align: justify;
}
#platform-description-section .container {
	padding-bottom: 10px;
}
#platform-text, #platform-scheme {
	box-sizing: border-box;
	margin-bottom: 40px;
}
#platform-text {
	padding-right: 50px;
}
#platform-scheme {
	padding-right: 15px;
}
#platform-scheme img {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
@media (max-width: 1199px) {
	#platform-text, #platform-scheme {
		width: 100%;
		padding: 0;
	}
	#platform-text {
		order: 1;
	}
}


/**
 * Blurbs section
 */
#blurbs-section .container {
	padding-bottom: 0;
}
.blurb {
	flex-grow: 0;
	margin-bottom: 50px;
}
.blurb img {
	float: left;
	width: 80px;
}
.blurb h4 {
	margin-bottom: 5px;
}
.blurb-content {
	text-align: justify;
}
.blurb-content :last-child {
	margin-bottom: 0;
}
.blurb-content {
	margin-left: 100px;
}


/**
 * Video section
 */
#video-section .container {
	padding-top: 35px;
	padding-bottom: 35px;
}
/* responsive video container https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
	max-width: 840px;
	margin: 0 auto;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
.video-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#video-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 1.5em 3.5em;
	box-shadow: 0 0 30px 15px rgba(66, 84, 112, 0.8);
	white-space: nowrap;
}
@media (max-width: 599px) {
	#video-btn {
		top: 50%;
		right: auto;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


/**
 * Products section
 */
#products-section h4 {
	text-align: center;
}
#products-section img {
	width: 549.5px; /* all images in this section are 1099px wide */
}
#products-section .product {
	margin-bottom: 30px;
}
#products-section .product:last-child {
	margin-bottom: 0;
}
#products-section .product::before {
	content: '';
	display: block;
	width: 70px;
	margin: 0 auto 27px auto;
	border-bottom: 3px solid #f18036;
}
#products-section .product:last-child::after {
	display: none;
}
#products-section .product p:last-child {
	margin-bottom: 0;
}


/**
 * ICO counter section
 */
#ico-counter-section {
	text-align: center;
	font-size: 18px;
}
#ico-counter-container .highlighted {
	font-weight: bold;
	color: #f18036;
}
#col-timer {
	position: relative;
}
#col-timer .timer-title {
	margin-bottom: 10px;
	font-weight: bold;
}


/**
 * Timeline section
 */
#timeline-section {
	text-align: center;
}
#timeline-section .container {
	padding-bottom: 0;
}
#timeline-wrapper {
	padding-bottom: 15px;
}
#timeline-slider {
	position: relative;
	margin: 0 auto;
}
#timeline-slider .pagination-bullets {
	display: none;
}

.timeline-card {
	width: 212px;
	margin-right: 20px;
	font-size: 16px;
	line-height: 1.5;
	white-space: normal;
}
.timeline-card:first-child {
	margin-left: 0;
}
.timeline-card:last-child {
	margin-right: 0;
}
@media (max-width: 1169px) {
	#timeline-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	/* 3 slides */
	#timeline-slider {
		width: 850px;
	}
	#timeline-slider .pagination-bullets {
		display: block;
	}
	.timeline-card {
		width: 270px;
	}
}
/* 2 slides */
@media (max-width: 899px) {
	#timeline-slider {
		width: 560px;
	}
}
/* 1 slide */
@media (max-width: 609px) {
	#timeline-slider {
		width: 270px;
	}
}
.ico-round {
	background: #415275;
}
.timeline-price, .timeline-action {
	background: #f3f4f6;
}
.ico-round, .timeline-price {
	margin-bottom: 4px;
}

.timeline-card p {
	margin: 0;
}

.ico-round {
	min-height: 110px;
	padding: 20px 5px;
	color: #f3f4f6;
	font-size: 18px;
}
.ico-round h4 {
	margin: 0;
	color: #ffffff;
	font-weight: bold;
}
.ico-round-live {
	font-size: 36px;
	text-transform: uppercase;
}
.ico-round-bonus {
	color: #f18036;
	font-weight: bold;
}

.timeline-price {
	min-height: 5em;
	padding: 20px 5px;
}
.timeline-action {
	line-height: 50px;
	font-weight: bold;
}
.timeline-action button.btn,
.timeline-action a.btn {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
}


/**
 * Crypto section
 */
#crypto-section {
	text-align: center;
}
#crypto-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#crypto-icons img {
	width: 75px;
	height: 75px;
}


/**
 * What's in for me section
 */
#whats-in-section .container {
	padding-bottom: 0;
}
#whats-in {
	padding-top: 20px;
}
.whats-in-item {
	margin-bottom: 50px;
}
.whats-in-header {
	margin-bottom: 20px;
}
.whats-in-header img {
	width: 91px;
	height: 91px;
	margin-right: 15px;
	vertical-align: middle;
}
.whats-in-header h4 {
	display: inline-block;
	max-width: 154px;
	margin: 0;
	vertical-align: middle;
	color: #f18036;
}
.whats-in-body ul {
	margin: 0;
}


/**
 * Token charts section
 */
#tokens-section {
	text-align: center;
}
#tokens-section .flex-container > div {
	margin-bottom: 20px;
}
.chart-wrapper {
	max-width: 555px; /* chart width limit */
	margin: 0 auto;
}
.chart-container {
	position: relative;
	padding-bottom: 54%; /* padding to maintain chart aspect ratio */
}
.chart {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


/**
 * Roadmap section
 */
.roadmap-description {
	text-align: center;
}
@media (max-width: 767px) {
	.roadmap-description {
		text-align: justify;
	}
}


/**
 * Partners section
 */
#partners-section .container {
	padding-bottom: 20px;
}
#partners {
	justify-content: space-around;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#partners a {
	margin-bottom: 20px;
}
#partners img {
	max-width: 170px;
	height: 65px;
	opacity: 0.4;
	transition: opacity 0.35s;
}
#partners a:hover img {
	opacity: 0.9;
}


/**
 * Team & Advisors sections
 */
#team-section > .container, #advisors-section > .container {
	padding-bottom: 0;
}
.team > * {
	margin-bottom: 50px;
}
.team .person-header {
	margin-bottom: 30px;
}
.team .avatar {
	vertical-align: middle;
	width: 100px;
	margin-right: 10px;
	border-radius: 50%;
}
.team .person {
	display: inline-block;
	max-width: 235px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1.6;
}
@media (max-width: 374px) {
	.team .person {
		max-width: 180px;
	}
}
.team .person h4,
.team .person p {
	margin-bottom: 0;
}
.team .person h4,
.team .person .position {
	font-size: 16px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
}
.team .person .position,
.team .person .position a {
	color: #f18036;
}
.team .description {
	text-align: justify;
}
.team .description p:last-child {
	margin-bottom: 0;
}

.team a[class|="icon"] {
	text-decoration: none;
}
.team .icon-linkedin {
	font-size: 16px;
}
.team .icon-linkedin::before {
	width: 1.4em;
	height: 1.4em;
	margin: 0;
	border: 1px solid #0077B5;
	font-size: 14px;
	line-height: 1.4em;
	color: #0077B5;
}

/**
 * Media section
 */
#media-slider {
	position: relative;
	margin: 0 20px;
}
#media-slider .prev, #media-slider .next {
	top: 45px;
	margin-top: -37px;
	font-size: 50px;
}
#media-slider .prev {
	left: -35px;
}
#media-slider .next {
	right: -35px;
}
#media-slider .pagination-bullets {
	margin-bottom: 0;
}
.media-article {
	text-align: center;
}
.media-article p {
	margin: 0 0 15px 0;
}
.media-article p:last-child {
	margin-bottom: 0;
}
.media-logo {
	display: block;
	margin: 0 auto;
}
.media-name {
	text-align: center;
}
.media-name, .media-name a {
	color: #f18036;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
.media-name a:hover {
	text-decoration: underline;
}

@media (max-width: 767px) {
	#media-slider .prev, #media-slider .next {
		top: 40%;
	}
	.media-article {
		text-align: justify;
	}
}

/**
 * Contact Us
 */
#contact-form-container {
	position: relative;
}
#contact-form-container .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
#contact-form-container.loading #contact-form {
	opacity: 0.5;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0 auto 30px auto;
}
#contact-form textarea {
	height: 5em;
	resize: vertical;
}


/**
 * Contribute and Buy Tokens form
 */
#buy-tokens, #contribute {
	background: linear-gradient(180deg, transparent 0, transparent 38px, rgba(243, 244, 246, 1) 39px, rgba(243, 244, 246, 0) 200px);
}
@media (max-width: 767px) {
	#buy-tokens, #contribute {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		background: linear-gradient(180deg, transparent 0, transparent 20px, rgba(243, 244, 246, 1) 21px, rgba(243, 244, 246, 0) 200px);
	}
}

@media (max-width: 767px) {
	#contribute .btn {
		min-width: auto;
		font-size: 75%;
	}
}
#tandc {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	max-height: 50vh;
	margin-bottom: 30px;
	padding-right: 15px;
}
#tandc h1 {
	font-size: 30px;
}
#contribute-step-email p {
	margin-bottom: 15px;
}
#contribute-step-email input[type="text"],
#contribute-step-email input[type="email"] {
	max-width: 100%;
	width: 355px;
}

#calculator {
	padding: 5px 15px 15px 15px;
	border: 2px solid #7a92bc;
	border-radius: 4px;
}
#calculator legend {
	padding: 0 15px;
	font-size: 30px;
	line-height: 1;
	font-weight: bold;
}
#calculator .form-block {
	display: flex;
	align-items: center;
}
#calculator .form-block > * {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}
#calculator .form-block > #calculator-divider,
#calculator .form-block > #calculator-img {
	flex-grow: 0;
	flex-shrink: 0;
}
#calculator-divider {
	padding-top: 1.1em;
	text-align: center;
	color: #f18036;
	font-size: 36px;
}
#calculator-divider .icon-retweet::before {
	margin: 0;
}
#calculator-img img {
	width: 140px;
}

#calculator label {
	display: block;
	margin-bottom: 15px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
#calculator .form-control,
#calculator .form-addon {
	padding: 5px 15px;
	border-width: 2px 0 2px 2px;
	border-color: #7a92bc;
	background: #546482;
	color: #ffffff;
	font-size: 36px;
}
#calculator .form-addon {
	background: #425372;
}
#calculator .form-control::placeholder,
#calculator .form-addon::placeholder {
	color: #cccccc;
}
#calculator .form-control:first-child,
#calculator .form-addon:first-child {
	border-radius: 4px 0 0 4px;
}
#calculator .form-control:last-child,
#calculator .form-addon:last-child {
	border-right-width: 2px;
	border-radius: 0 4px 4px 0;
}
@media (max-width: 1023px) {
	#calculator legend {
		font-size: 20px;
	}
	#calculator-img {
		display: none;
	}
	#calculator .form-control,
	#calculator .form-addon {
		font-size: 18px;
	}
	#calculator label {
		margin-bottom: 5px;
		font-size: 16px;
	}
	#calculator-divider {
		padding-top: 0.7em;
	}
}
@media (max-width: 767px) {
	#calculator legend {
		text-align: center;
	}
	#calculator .form-block > * {
		padding-left: 0;
		padding-right: 0;
	}
	#calculator .form-block {
		flex-direction: column;
		align-items: stretch;
	}
	#calculator-divider {
		padding-top: 0;
	}
}

#calculator-summary {
	display: flex;
	background: url("../images/bg/bg-form.png") center center / cover;
}
#calculator-summary > * {
	flex: 1;
	padding: 5px 20px 0 20px;
	border-right: 1px solid #8e98aa;
	text-align: right;
}
#calculator-summary > *:first-child {
	padding-left: 5px;
}
#calculator-summary > *:last-child {
	padding-right: 5px;
	border-right: none;
}
#calculator-summary p {
	margin: 0;
}
#calculator-summary .highlighted {
	color: #ffffff;
	font-size: 200%;
	font-weight: 600;
}

@media (max-width: 767px) {
	#calculator-summary {
		flex-direction: column;
	}
	#calculator-summary > * {
		margin-bottom: 15px;
	}
	#calculator-summary > *:first-child {
		padding-left: 20px;
	}
	#calculator-summary > *:last-child {
		margin-bottom: 0;
		padding-right: 20px;
		border-right: 1px solid #8e98aa;
	}
	#calculator-summary .highlighted {
		font-size: 130%;
	}
	#calculator-summary div {
		display: flex;
		align-items: center;
	}
	#calculator-summary p {
		text-align: left;
		width: 60%;
	}
	#calculator-summary p + p{
		text-align: right;
		width: 40%;
	}
}

#contribution-block {
	text-align: left;
}
#contribution-block p {
	margin-bottom: 5px;
}
#contribution-block > :last-child {
	margin-bottom: 0;
}
#contribution-block label {
	color: #425372;
	font-weight: bold;
}
#contribution-details {
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 5px;
	padding: 10px;
	background: #e7e8e9;
}
#contribution-details label {
	margin-right: 0.5em;
}
#copy-address {
	cursor: pointer;
}
@media (max-width: 767px) {
	#contribution-details label {
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;
	}
}


/**
 * Affiliate Sign Up form
 */
#aff-submit-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#aff-submit-block span {
	font-size: 18px;
}


/**
 * Affiliate Program
 */


#affiliate-program-intro-section p {
	font-size: 18px;
	line-height: 1.6667;
}

#affiliate-program-description-section .container {
	padding-top: 0;
}

#affiliate-program-description-section .blurb-affiliate {
	max-width: 520px;
	margin-right: auto;
}

#affiliate-program-description-section .btn-join {
	display: block;
	max-width: 520px;
	margin-left: auto;
}

@media (max-width: 1039px) {
	#affiliate-program-description-section .blurb-affiliate {
		margin-left: auto;
	}

	#affiliate-program-description-section .btn-join {
		margin-right: auto;
	}
}

.blurb-affiliate ul {
	list-style: none;
	padding-left: 11px;
	position: relative;
	top: -5px;
}

.blurb-affiliate ul li {
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
}

.blurb-affiliate ul li::before {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 12px;
	left: -11px;
	border-radius: 50%;
	background-color: #f18036;
}

.btn.btn-join {
	font-size: 22px;
	padding: 1em 1.5em;
}

/**
 * Footer
 */
#main-footer .container {
	padding-bottom: 20px;
}
#footer-widgets > * {
	max-width: 195px;
}
#footer-widgets h4 {
	margin-bottom: 20px;
	font-weight: 600;
}
#footer-widgets h4::after {
	content: '';
	display: block;
	width: 20px;
	height: 3px;
	background: #f18036;
}
#footer-widgets p:last-child,
#footer-widgets ul:last-child {
	margin-bottom: 0;
}
#footer-widgets a {
	text-decoration-line: none;
	text-decoration-style: dotted;
}
#footer-widgets a:not(.btn):hover {
	text-decoration-line: underline;
}

#footer-widgets .social {
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 2;
}
#footer-widgets .social a {
	margin-right: 0.5em;
}
#footer-widgets .social a:hover {
	text-decoration: none;
}

#footer-widgets .subscribe-btn {
	max-width: 100%;
	min-width: auto;
	width: 177px;
}

@media (max-width: 450px) {
	#footer-widgets > * {
		max-width: 130px;
	}
	#widget-token-swap {
		order: 5;
		max-width: 290px;
	}
	#footer-widgets .social a {
		margin-right: 0;
	}
}


/**
 * Copyright section
 */
#copyright-section {
	background-color: #2c3955;
	color: #415275;
}
#copyright-section .container {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
