/**
 * Styles, used only on main site (https://grondigital.com)
 */

/**
 * Conditional hiding depending on current ICO round
 */
.ico-shown-pre, .ico-shown-1, .ico-shown-2, .ico-shown-3, .ico-shown-4,
.ico-shown-pre-il, .ico-shown-1-il, .ico-shown-2-il, .ico-shown-3-il, .ico-shown-4-il {
	display: none!important;
}
.ico-current-pre .ico-shown-pre,
.ico-current-1 .ico-shown-1,
.ico-current-2 .ico-shown-2,
.ico-current-3 .ico-shown-3,
.ico-current-4 .ico-shown-4 {
	display: block!important;
}
.ico-current-pre .ico-shown-pre-il,
.ico-current-1 .ico-shown-1-il,
.ico-current-2 .ico-shown-2-il,
.ico-current-3 .ico-shown-3-il,
.ico-current-4 .ico-shown-4-il {
	display: inline!important;
}


/**
 * Subscribe form
 */
#subscribe-form {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	max-width: 615px;
	margin: 0 auto;
}
#subscribe-header {
	padding: 30px;
	background: #ffffff;
}
#share-img {
	margin-right: 40px;
	vertical-align: middle;
}
#subscribe-header-text {
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
}
#subscribe-header h4,
#subscribe-header p {
	margin: 0;
}
#subscribe-body {
	padding: 30px;
}
#subscribe-email {
	width: 100%;
	max-width: 358px;
	margin-right: 30px;
}
#subscribe-submit {
	width: 163px;
}
@media (max-width: 767px) {
	#subscribe-form {
		top: 0;
		max-width: none;
		text-align: center;
	}
	#subscribe-form .close-popup {
		top: 10px;
		right: 10px;
	}
	#share-img {
		display: block;
		margin: 0 auto;
	}
	#subscribe-email {
		max-width: none;
		margin: 0 0 30px 0;
	}
}

/**
 * Floating social links block
 */
#social-float {
	position: fixed;
	top: 320px;
	right: 10px;
	z-index: 60;
	text-align: right;
}
@media (max-width: 1023px) {
	#social-float {
		top: 320px;
	}
}
#social-float a {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 20px;
	background: #ffffff;
	box-shadow: 1px 1px 4px 0 rgba(22, 37, 68, 0.55);
	color: #425372;
	font-size: 14px;
	font-weight: bold;
}
#social-float a > span {
	display: inline-block;
	box-sizing: content-box;
	width: 0;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	transition: width 0.4s;
}
#social-float a > img {
	vertical-align: middle;
}
#social-float a.hover {
	box-shadow: 0 0 0 2px #ffffff, 1px 1px 4px 2px rgba(22, 37, 68, 0.55);
}
#social-float a.hover > span {
	width: 12em;
	margin-left: 1em;
}


/**
 * Affiliate Programme page
 */
#aff-how-section > .container {
	padding-bottom: 20px;
}
#aff-ways-section > .container {
	padding-top: 40px;
	padding-bottom: 40px;
}
#aff-ways {
	display: flex;
	align-items: center;
}
#aff-ways-title {
	width: 120px;
	margin-bottom: 0;
	padding-right: 15px;
	font-size: 28px;
	line-height: 1.15;
}
#aff-ways-brace {
	height: 100px;
	font-size: 100px;
	line-height: 80px;
	color: #899ab9;
}
#aff-ways-text {
	flex: 1;
	padding-left: 30px;
	line-height: 30px;
}
#aff-ways strong {
	color: #f18036;
}
#aff-btn-join {
	font-size: 22px;
	padding: 1em 2.5em;
}


/**
 * Footer
 */
#main-footer .container {
	padding-bottom: 20px;
}
#footer-widgets > * {
	max-width: 195px;
}
#footer-widgets h4 {
	margin-bottom: 20px;
	font-weight: 600;
}
#footer-widgets h4::after {
	content: '';
	display: block;
	width: 20px;
	height: 3px;
	background: #f18036;
}
#footer-widgets a {
	text-decoration-line: none;
	text-decoration-style: dotted;
}
#footer-widgets a:not(.btn):hover {
	text-decoration-line: underline;
}

.social a {
	opacity: 0.4;
	text-decoration: none;
	transition: opacity 0.35s;
}
.social a:hover {
	opacity: 0.9;
}
#footer-widgets .social {
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 2;
}
#footer-widgets .social a {
	margin-right: 0.5em;
}
#footer-widgets .social a:hover {
	text-decoration: none;
}

#footer-widgets .subscribe-btn {
	max-width: 100%;
	min-width: auto;
	width: 130px;
}

@media (max-width: 450px) {
	#footer-widgets > * {
		max-width: 130px;
	}
	#widget-token-swap {
		order: 5;
		max-width: 290px;
	}
	#footer-widgets .social a {
		margin-right: 0;
	}
}
